services:
  postgres:
    image: postgres:15-alpine
    container_name: padelscore-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
  service:
    image: pisklovcor/padelscore:latest
    container_name: padelscore-service
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      BOT_TOKEN: ${BOT_TOKEN}
      BOT_USERNAME: ${BOT_USERNAME}
      BOT_ADMIN: ${BOT_ADMIN}
      SCHEDULER_ENABLED: ${SCHEDULER_ENABLED}
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    volumes:
      - service_logs:/service/logs
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    labels:
      # Разрешаем Watchtower обновлять этот контейнер
      com.centurylinklabs.watchtower.enable: "true"
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      # чистим старые образы после обновления
      WATCHTOWER_CLEANUP: "true"
      # проверяем раз в час (можешь поставить меньше/больше)
      WATCHTOWER_POLL_INTERVAL: "3600"
      # включаем фильтр по label, чтобы не трогать postgres
      WATCHTOWER_LABEL_ENABLE: "true"

volumes:
  postgres_data:
  service_logs:
